div.container{
    margin-top:3px; 
}
div.ad-title{
    padding: 1em;
    background-size: cover;
    background-position: center center;
}

div.ad-title, h1 p div.ad-title{
color: white;
text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); 
}

.avatar{
    max-width: 125px;
    min-width: 125px;
    border-radius: 55%;
}
.avatar-medium{
    max-width: 65px;
    min-width: 65px;
}
.avatar-mini{
    max-width: 25px;
    min-width: 25px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover  {
color: firebrick !important;
}