   <footer id="footer" class=" bg-dark text-white p-4 mt-5 by-5 text-center container">
        <p> All rights reserved To Elmardi YAHIA @copyright 2018 !!!! </p> 
    </footer>
    {% block body %}{% endblock %}