<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}Sackanat{% endblock %}
        </title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include 'incs/_nav.html.twig' %}
        {% block body %}{% endblock %}
        <script  src="js/jquery.min.js"></script>
        <script  src="js/popper.min.js"></script>
        <script  src="js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
        {% include 'incs/_footer.html.twig' %}
    </body>
</html>