{% extends 'base.html.twig' %}

{% block title %}Page Errors403{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="bg-light">
            <h1 >Hey You !!!?  You Trying To Do Something Rong Here (x) !!</h1>
            <div class="alert alert-danger"> You Don't Have A Right To Acces This Service <br><p>{{ exception.message }}</p></div>
        <p>Please Check Your Info And Try Again Or !!!</p>

        <a href="{{ path('homepage') }}" class="btn btn-info">Go Back To Homepage</a>
        </div>
    </div>
{% endblock %}